{% extends 'base.html' %}
	{% block head %}
		{{ super() }}
		{% for cat, msg in get_flashed_messages(True) %}
			<div class="flash {{cat}}">{{msg}}</div>
		{% endfor %}
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/signup.css') }}">
	{% endblock %}

	{% block content %}
    	{{ super() }}
	<form action="/signup" method="post" style="background-color: #f0f0f0" class="form-contact">
		{{ form.hidden_tag() }}

		{% for field in form if field.name not in ['csrf_token', 'submit'] -%}
			<p>{{ field.label() }}
			{% if field.errors %}
				{{ field(class="invalid") }}
			<span class="invalid-feedback">
				{% for e in field.errors %}
					{{e}}
				{% endfor %}
			</span>
			{% else %}
				{{ field() }}
			{% endif %}
		{% endfor %}
		<p>{{ form.submit() }}</p>
	</form>
{% endblock %}